<html ng-app="app">
  <head>
    <meta charset=utf-8 />
    <script src="assets/angular.min.js"></script>
    <script src="assets/jquery.min.js"></script>
    <script src="assets/jquery-ui.js"></script>
    <script src="assets/bootstrap.min.js"></script>
    <script src="assets/app.js"></script>
    <link href="assets/bootstrap.min.css" rel="stylesheet" media="all" />
    <link href="assets/style.css" rel="stylesheet" media="all" />
  </head>
  <body>
    <div ng-app="myApp">
      <br>
      <div ng-controller="mainController" class="container">
        <div id="sortable">
          <div class="row" ng-repeat="d in data">
            <div class="col-xs-4">
              <span ng-show="d.quantity != 1">{{d.quantity}} x</span>
              {{d.description}}
              {{d.cost_string}}
            </div>
            <div class="col-xs-4">
              =
              {{d.total_cost_string}}
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-4">
            Total:
          </div>
          <div class="col-xs-4" ng-show="total">
            = {{total}}
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Add Item
        </button>
        <button type="button" class="btn btn-success" ng-click="sendInvoice()">
          Send
        </button>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Add item</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <select class="form-control"
                    ng-options="option.name for option in types track by option.id"
                    ng-model="formData.type"
                    ng-change="updateList()">
                  </select>
                </div>
                <div class="form-group">
                  <select class="form-control"
                    ng-change="updateDescription()"
                    ng-show="current.length"
                    ng-options="option.name for option in current track by option.id"
                    ng-model="formData.name">
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control"
                    placeholder="Description"
                    ng-model="formData.description">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control"
                    placeholder="Cost"
                    ng-model="formData.cost">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control"
                    placeholder="Quantity"
                    ng-show="current.length"
                    ng-model="formData.quantity">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click=addItem()>Create</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
	  </div>
  </body>
</html>
